.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* เต็มความสูงของหน้าจอ */
  text-align: center;
  padding: 20px;
}

.pig-container {
  margin: 20px auto;
}

.food-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button img {
  display: block;
  width: 50px;
  height: 50px;
}

button p {
  margin: 5px 0 0;
  font-size: 14px;
}
